@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	border: none;

	list-style: none;
}

body {
	background: #2F3437;
	color: #fff;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

h1 {
	margin: 48px auto 0;
	text-align: center;
	font-size: 54px;
	line-height: 64px;
	letter-spacing: .8px;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 24px;
	position: relative;
}

.card::after {
	content: "";
  	display: block;
  	width: 50%;
  	height: 45%;
  	border-radius: 50%;
  	background-color: #efefef;
  	opacity: .7;
  	position: absolute;
  	top: 15%;
  	left: 25%;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

.card-number-tag {
	background-color: #333;
	padding: 4px;
	border-radius: 8px;

	font-size: 16px;
	color: #efefef;
}
.card-title {
	text-transform: capitalize;
	
	font-size: 24px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: .4px;
	
	margin-top: 16px;
}

.card-subtitle {
	text-transform: uppercase;

	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: .8px;
	
	margin-top: 8px;

	padding-bottom: 2px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #60d477;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.ghost {
	background-color: #222;
	color: #eee;
}

.normal {
	background-color: #F5F5F5;
}